{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":2,"position":2,"stack":[[{"start":{"row":26,"column":12},"end":{"row":26,"column":13},"action":"insert","lines":["."],"id":2},{"start":{"row":26,"column":13},"end":{"row":26,"column":14},"action":"insert","lines":["1"]},{"start":{"row":26,"column":14},"end":{"row":26,"column":15},"action":"insert","lines":["9"]}],[{"start":{"row":0,"column":0},"end":{"row":0,"column":13},"action":"remove","lines":["arrow==0.14.6"],"id":3}],[{"start":{"row":0,"column":0},"end":{"row":1,"column":0},"action":"remove","lines":["",""],"id":4}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1569411191388,"hash":"6189cda170c123b70601514f35bbd4f1488aa702"}