{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":26,"column":12},"end":{"row":26,"column":13},"action":"insert","lines":["."],"id":2},{"start":{"row":26,"column":13},"end":{"row":26,"column":14},"action":"insert","lines":["1"]},{"start":{"row":26,"column":14},"end":{"row":26,"column":15},"action":"insert","lines":["9"]}]]},"ace":{"folds":[],"scrolltop":900,"scrollleft":0,"selection":{"start":{"row":76,"column":12},"end":{"row":76,"column":12},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":63,"state":"start","mode":"ace/mode/text"}},"timestamp":1569408638713,"hash":"4d2f27dab74a0a528eb941b412d8d2bce6897c13"}